header {
    .header-container {
        // background-color: #339476;
        background-color: #EF9325;
        // background-color: #f08300;
        background-color: #f9dab4;

        .header-txt {
            font-size: 40px;
            color: black;
            text-align: center;
            text-transform: capitalize;
            padding: 1rem 0;
            // text-transform: capitalize;
        }
    }
}